*{
    margin: 0px;
    padding: 0px;
}
.header{
    background-color: rgba(216, 187, 170, 0.7);
    height: 30px;
    border: 2px solid transparent;
    padding: 40px;
}
.header h2{
    margin-top: 30px;
    font-size: 35px;
    margin-left: 20px;
}
.header nav{
    margin-left: 600px;
    margin-top: -30px;
}
.header nav a{
    text-decoration: none;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    color: black;
}
.header nav a:hover{
    background-color: seashell;
    border-radius: 15px;
}
.about-us{
    position: absolute;
    top: 40%;
    left: 40%;
    font-size: 100px;
    font-style: oblique;
}
.main-body hr{
    width: 70px;
    margin-top: 100px;
    margin-left: 200px;
    display: flex;
    border: 1px solid red;
    background-color: red;
}
.main-body h3{
    float: right;
    margin-top: -26px;
    margin-right: 850px;
    font-size: 40px;
}
.main-body p{
    margin-top: 50px;
    margin-left: 280px;
    font-size: 18px;
}

.footer{
    background-color: rgba(30, 130, 76, 0.4);
    padding-top: 70px;
    margin-top: 20px;
    height: 300px;
}
.tz{
    width: 400px;
    float: left;
    margin-left: 200px;
}
.tz h3{
    margin-bottom: 30px;
    font-size: 30px;
}
.tz p{
    font-size: 18px;
}
.ql{
    width: 200px;
    float: left;

}
.ql ul li{
    list-style: none;
    padding: 8px;
    font-size: 18px;
}
.ql h4{
    margin-bottom: 20px;
    font-size: 18px;
}
.np{
    width: 200px;
    float: left;

}
.np ul li{
    list-style: none;
    padding: 8px;
    font-size: 18px;
}
.np h4{
    margin-bottom: 20px;
    font-size: 18px;
}
.support h4{
    margin-bottom: 20px;
    font-size: 18px;
}
.support{
    width: 300px;
    float: left;

}
.support ul li{
    list-style: none;
    padding: 8px;
    font-size: 18px;
}
.cr{
    width: 700px;
    margin-left: 300px;
}
.cr a{
    text-decoration: none;
}

.anchor{
    text-decoration: none;
    color: black;
}
.link{
    color: grey;
}
.link:hover{
    color: blue;
}
.copyright{
    margin-top: 220px;
    margin-left: 200px;
    font-size: 20px;
}
.copyright a {
    text-decoration: none;
    color: red;
    font-weight: bold;
}