.cart {
    margin-right: 1rem;
}

.cart a {
    text-decoration: none;
    cursor: pointer;
}

.cart h2 i {
    color: #d8323c;
}

.cart-app {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em 0em;
}

.cart-item {
    border: 1px solid rgb(218, 218, 218);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin: 0.5em 0em;
}

.cart-item-img {
    width: 20%;
}

.cart-item-img img {
    width: 100%;
}

.cart-item-text {
    width: 40%;
    display: flex;
    justify-content: space-between;
}

.cart-item-text h3 {
    font-size: 1.3rem;
    color: black;
}

.cart-item button {
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 30px;
    cursor: pointer;
}

.cart-item button i {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
}